<!DOCTYPE html>
<html>

<body>

    <ul id="dropdown1" class="dropdown-content" style="width:200px;">
        <li><a href="/contact"><i class="material-icons">email</i>Contact me</a></li>
        <li class="divider"></li>
        <li><a href="https://github.com/vvachhani12"><i class="fa fa-github" style="font-size:28px"></i>Github</a></li>
        <li class="divider"></li>
        <li><a href="https://www.linkedin.com/in/vinit-vachhani-b0330794/"><i class="fa fa-linkedin" style="font-size:25px"></i>Linkedin</a></li>
        <li class="divider"></li>
        <li><a href="./assets/file/Vinit Resume.pdf" download><i class="material-icons">attachment</i>Resume</a></li>
    </ul>

    <nav>
        <div class="nav-wrapper">
            <a href="./assets/image/logo.png" class="brand-logo" id="logo">
                <img src="./assets/image/logo.jpg" width="75" height="80" alt="">
            </a>
            <ul class="right hide-on-med-and-down" id="navList">    
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/project">Projects</a></li>
                <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Contact<i class="material-icons right">arrow_drop_down</i></a></li>
            </ul>
        </div>
    </nav>
    
    <div class="container" style="padding-top:10px">
        <div class="jumbotron fluid-jumbotron" id="aboutImg">
            <div class="container">
                <h1 class="display-4 center" id="aboutTitle">About</h1>
                {{!-- <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p> --}}
            </div>
        </div>

        <div>
            <section>                
                <div class="row">
                    <div class="container">
                        <div class="col s9" id="selfIntro">
                            <div> <!--Verbiage-->
                                <p>
                                    My name is <b>Vinit Vachhani</b>, I am Junior Full Stack Developer, currently working out of Parsippany, New Jersey.
                                    I graduated from New Jersey Institute of Technology with Bachelors in Computer Engineering. Since my graduation I have
                                    been working with Tata Consultant Service (TCS) and have worked with multiple clients developing and implementing a web
                                    based application for Real Estate Management called TRIRIGA. Due to my increasing love and interest towards developing,
                                    I decided to continue my education with Rutgers University for Full Stack Web Development.
                                </p>
                                <p>
                                    In addition to my work with TCS, I love <b>developing</b> and have worked on multiple side projects, some of which are
                                    available on my Projects page. My passion is towards developing applications and website using my knowledge and on top
                                    I always keep challenging myself and keep learning new things and technologies.
                                </p>
                                <p>
                                    Currently I am seeking for a position as Full Stack Developer, where I would be able to utilize my knowledge and benefit
                                    the company. I seek for more challenging work, where I would be able to grow as a developer. Moreover, I believe in working
                                    and growing as team, because I feel a team can bring out good of everyone. With my background and knowledge I would
                                    be able to make a difference and bring new innovations. A more detailed look at my professional capabilities and experience
                                    is available in my <a href="./assets/file/Vinit Resume.pdf" download>Resume</a>
                                </p>
                            </div>
                        </div>  

                        <div class="col s2" id="portrait">
                            <img id="self" src="./assets/image/portrait.png" alt="Selfie" height="270" width="270">
                        </div>           
                    </div>
                </div> 
            </section>

            <section>
                <div class="row">
                    <div class="container">
                        <div class="col s12 center" id="skillsTitle">
                            Skills
                        </div>
                        <div class="col s12" id="skillInfo">
                            <ul>
                                <li>JavaScript, jQuery, HTML, HTML5, ECMAScript (ES 6)</li>
                                <li>Bootstrap, Materialize, CSS</li>
                                <li>Node.js, React, MVC</li>
                                <li>MySQL, SQL, MongoDB</li> 
                                <li>REST, JSON, Express, Heroku, AJAX, GitHub, Git, REST</li>   
                                <li>Linux, Windows(all variation), Firewall, Routers, TCP/IP</li>
                                <li>Waterfall, Agile</li>
                                <li>Knowledge about Spring FrameWork, Java</li>
                            </ul>
                        </div>

                    </div>
                </div>
            </section>
        </div>
    </div>

    {{!-- <footer class="page-footer footer">
        <div>
            <div class="container" id="footer">
                © 2019 Vinit Vachhani
            </div>
        </div>        
    </footer> --}}

</body>
</html>