<!DOCTYPE html>
<html>

<body>

    <ul id="dropdown1" class="dropdown-content">
        <li><a href="/contact">Contact me</a></li>
        <li class="divider"></li>
        <li><a href="https://github.com/vvachhani12">Github Link</a></li>
    </ul>

    <nav>
        <div class="nav-wrapper">
            <a href="./assets/image/logo.png" class="brand-logo" id="logo">
                <img src="./assets/image/logo.jpg" width="75" height="80" alt="">
            </a>
            <ul class="right hide-on-med-and-down" id="navList">    
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/project">Projects</a></li>
                <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Contact<i class="material-icons right">arrow_drop_down</i></a></li>
            </ul>
        </div>
    </nav>
    
    <div class="container">
        <div class="jumbotron fluid-jumbotron" id="aboutImg">
            <div class="container">
                <h1 class="display-4">Fluid jumbotron</h1>
                <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
            </div>
        </div>
    </div>

    {{!-- <footer class="page-footer footer">
        <div>
            <div class="container" id="footer">
                © 2019 Vinit Vachhani
            </div>
        </div>        
    </footer> --}}

</body>
</html>