<!DOCTYPE html>
<html>

<body>

    <div class="container" style="padding-top:10px;">
        <div class="jumbotron fluid-jumbotron center" id="contactMeBackgrd">
            <h1 style="color:white; padding-top:60px">
                Contact
            </h1>
        </div>
        <div class="row">
            <div class="container">
                <div class="col s12" style="font-size:35px; font-family:cursive; line-height:260%">
                    Lets Chat!
                </div>
                <div class="col s12" id="chat">
                    <p>
                        <h4 style="line-height:160%">
                            Want to get in touch? Whether you're interested in working on a project with me or for a job 
                            opportunity, please feel free to email me at <a href="mailto:vinitvachhani@gmail.com">vinitvachhai@gmail.com</a>
                            and I will get back as soon as I can!
                        </h4>
                    </p>
                    <p>
                        <h4 style="line-height:200%">
                            You can also check my social media link in the Contact dropdown to get in touch with me!
                        </h4>
                    </p>


                </div>
            </div>
        </div>
    </div>

</body>
</html>