<!DOCTYPE html>
<html>

<body>
    <header>
        <ul id="dropdown1" class="dropdown-content" style="width:200px;">
            <li><a href="/contact"><i class="material-icons">email</i>Contact me</a></li>
            <li class="divider"></li>
            <li><a href="https://github.com/vvachhani12"><i class="fa fa-github" style="font-size:28px"></i>Github</a></li>
            <li class="divider"></li>
            <li><a href="https://www.linkedin.com/in/vinit-vachhani-b0330794/"><i class="fa fa-linkedin" style="font-size:25px"></i>Linkedin</a></li>
            <li class="divider"></li>
            <li><a href="./assets/file/Vinit Resume.pdf" download><i class="material-icons">attachment</i>Resume</a></li>
        </ul>

        <nav>
            <div class="nav-wrapper">
                <a href="./assets/image/logo.png" class="brand-logo" id="logo">
                    <img src="./assets/image/logo.jpg" width="75" height="80" alt="">
                </a>
                <ul class="right hide-on-med-and-down" id="navList">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/project">Projects</a></li>
                    <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Contact<i class="material-icons right">arrow_drop_down</i></a></li>
                </ul>
            </div>
        </nav>

        <ul class="sidenav" id="mobile-nav">
                <li><a class="apc" href="/">Home</a></li>
                <li><a class="apc" href="/about">About</a></li>
                <li><a class="apc" href="/project">Projects</a></li>

        </ul>
    </header>

    <div class="jumbotron jumbotron-fluid" id="homePageImage">
    </div>
    <div class="container" id="indexBody">
        <div class="jumbotron jumbotron-fluid center" id="IntroPage">
            <div id="introText">
                <h1 style="font-size:70px">
                    Hello!
                </h1>
                <h3 style="font-size:30px; line-height:140%; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif">
                    My Name is <b>Vinit Vachhani</b>, and I am a Junior Full Stack Developer. I welcome
                    you to my personal portfolio page where you would be able to see my expertise and my 
                    experience as a Full Stack Developer. 
                </h3>
                <p>
                    <a href="./about" id="aboutMe"><i class="tiny material-icons">person_outline</i> Learn more about me</a>
                </p>
            </div>
        </div>
    </div>

    {{!-- <div class="parallax-container">
        <div class="parallax">
          <img id="parallax1" src="https://media.giphy.com/media/nbOgewkBDY9MymUsnl/giphy.gif">
        </div>
    </div>
    <div class="container">
            <h1>Text</h1>
    </div>
    <div class="parallax-container">
        <div class="parallax">
            <img src="https://media.giphy.com/media/Q9aBxHn9fTqKs/giphy.gif">
        </div>
    </div> --}}

    <footer class="page-footer footer">
        {{!-- <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Car Swap</h5>
                </div>
                <div class="col l4 offset-l2 s12">
                </div>
            </div>
        </div> --}}

        <div>
            <div class="container" id="footer">
                © 2019 Vinit Vachhani
                {{!-- <a class="grey-text text-lighten-4 right" href="#!">More Links</a> --}}
            </div>
        </div>
        
    </footer>

</body>
</html>