<!DOCTYPE html>
<html>

<body>

    <ul id="dropdown1" class="dropdown-content">
        <li><a href="/contact">Contact me</a></li>
        <li class="divider"></li>
        <li><a href="https://github.com/vvachhani12">Github Link</a></li>
    </ul>

    <nav>
        <div class="nav-wrapper">
            <a href="./assets/image/logo.png" class="brand-logo" id="logo">
                <img src="./assets/image/logo.jpg" width="75" height="80" alt="">
            </a>
            <ul class="right hide-on-med-and-down" id="navList">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/project">Projects</a></li>
                <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Contact<i class="material-icons right">arrow_drop_down</i></a></li>
            </ul>
        </div>
    </nav>

    <div class="container">

    </div>

    <footer class="page-footer footer">
        {{!-- <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Car Swap</h5>
                </div>
                <div class="col l4 offset-l2 s12">
                </div>
            </div>
        </div> --}}

        <div>
            <div class="container" id="footer">
                © 2019 Vinit Vachhani
                {{!-- <a class="grey-text text-lighten-4 right" href="#!">More Links</a> --}}
            </div>
        </div>
        
    </footer>

</body>
</html>