<!DOCTYPE html>
<html>

<body>

    <ul id="dropdown1" class="dropdown-content" style="width:200px;">
        <li><a href="/contact"><i class="material-icons">email</i>Contact me</a></li>
        <li class="divider"></li>
        <li><a href="https://github.com/vvachhani12"><i class="fa fa-github" style="font-size:28px"></i>Github</a></li>
        <li class="divider"></li>
        <li><a href="https://www.linkedin.com/in/vinit-vachhani-b0330794/"><i class="fa fa-linkedin" style="font-size:25px"></i>Linkedin</a></li>
        <li class="divider"></li>
        <li><a href="./assets/file/Vinit Resume.pdf" download><i class="material-icons">attachment</i>Resume</a></li>
    </ul>

    <nav>
        <div class="nav-wrapper">
            <a href="./assets/image/logo.png" class="brand-logo" id="logo">
                <img src="./assets/image/logo.jpg" width="75" height="80" alt="">
            </a>
            <ul class="right hide-on-med-and-down" id="navList">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/project">Projects</a></li>
                <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Contact<i class="material-icons right">arrow_drop_down</i></a></li>
            </ul>
        </div>
    </nav>

    <div class="container" id="indexBody">
        <div class="row">
            <div class="col s12 center" id="projectText">
                Projects
            </div>
        </div>
        <div class="row">
            <div class="col s4 m7" id="card1">
                <div class="card center">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="./assets/image/CarSwap.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">
                            Exotic CarSwap
                            <i class="material-icons right">more_vert</i>
                        </span>
                        <p>
                            <a href="https://mighty-springs-82404.herokuapp.com/">Click here to visit</a>
                        </p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">
                            CarSwap
                            <i class="material-icons right">close</i>
                        </span>
                        <p>Exotic CarSwap is an application where exotic cars can be rented. This application
                            is similar to airbnb where a user can rent out any exotic cars available for rent with
                            specific start and end date. In addition, a user also has the capability of putting their
                            cars up for renting given a specific start and end date they want the cars to be available
                            for. If the user has too many options or choices to choose from then the user can answer
                            a questionaire and based on that we will recommend a car they should rent.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col s4 m7" id="card2">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="./assets/image/restaurant.jpg">
                    </div>
                    <div class="card-content center">
                        <span class="card-title activator grey-text text-darken-4">
                            Restaurant App
                            <i class="material-icons right">more_vert</i>
                        </span>
                        <p>
                            <a href="https://vvachhani12.github.io/Team-Project-1/">Click here to visit</a>
                        </p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">
                            Restaurant App
                            <i class="material-icons right">close</i>
                        </span>
                        <p>Restaurant App, is an application for searching near by restaurants based on either name or the city
                            name. User can search the restaurant details such a their address, phone number and menu. If the user
                            frequently visits the restaurant then they can bookmark the place and it will be save on My favorites 
                            page. User can also manually add any restaurant or fast food chains by simply typing the name of the place
                            and clicking Submit. In addition, whenever the favrorite restaurant button is clicked, it will show the
                            closest location of that place within 10 mile radius of the current location.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col s4 m7" id="card3">
                <div class="card center">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" id="cardImg" src="./assets/image/scrapper.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">
                            Mongo Scrapper
                            <i class="material-icons right">more_vert</i>
                        </span>
                        <p>
                            <a href="https://mongo-scrapper19.herokuapp.com/">Click here to visit</a>
                        </p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">
                            Scrapper
                            <i class="material-icons right">close</i>
                        </span>
                        <p>Mongo Scrapper let's you scrape articles from "http://www.echojs.com/". You can also
                            save the articles and add notes to it as needed. Save articles will be displayed in the
                            Saved section. It will also save the notes that one added and retreive it when you click
                            on notes again. Articles can also be removed by clicking the remove button. If you click
                            Clear Articles, it will clear all the articles including the saved. If you want new articles
                            click Scrape Articles again.
                        </p>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <footer class="page-footer footer">
        {{!-- <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Car Swap</h5>
                </div>
                <div class="col l4 offset-l2 s12">
                </div>
            </div>
        </div> --}}

        <div>
            <div class="container" id="footer">
                © 2019 Vinit Vachhani
                {{!-- <a class="grey-text text-lighten-4 right" href="#!">More Links</a> --}}
            </div>
        </div>
        
    </footer>

</body>
</html>