

nav{
    height: 80px;
    background-color: seagreen
}

.footer{
    height: 80px;
    background-color: seagreen;
    padding-top: 30px;
}

/* #footer{
    padding-top: 10px;
} */

#logo{
    padding-left: 10px;
}

#navList{
    margin-top: 8px;
    margin-right: 20px;
}

#homePageImage{
    height: 450px;
    background-image: url("https://media.giphy.com/media/nbOgewkBDY9MymUsnl/giphy.gif");
}

#IntroPage{
    background:linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url("../image/nature.jpg");
    /* height: 470px;
    width: 1140px; */
    background-color:white;
    border: 5px solid white;
    outline: 5px solid black;
    z-index: 1;
}

#introText{
    color: white;
    font-family: cursive;
    padding-right: 10%;
    padding-left: 10%;
}


#indexBody{
    /* height: 100%; */
}

#projectText{
    font-size: 50px;
    font-family: monospace;
}

/* #card1{
    height: 38%;
    width: 30%;
} */
#cardContainer{
    justify-content: center;
}

#card1, #card2, #card3{
    height: 38%;
    width: 30%;
    padding: 10px;
}

#aboutImg{
    padding:1px;
    border:1px solid #021a40;
    background-color:white;
    height: 400px;
    background-image: url("../image/about.jpg")
}

#aboutTitle{
    padding-top: 130px;
    font-family: cursive;

}

#selfIntro{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
}

#selfDetails1, #selfDetails2, #selfDetails3{
    width: 75%;
    float: left;
}

#portrait{
    clear: both;
    float: right;
    position: relative;
    widows: 25%;
}

#skillsTitle{
    border: 2px solid black;
    font-size: 30px;
    font-family: cursive;
}

#skillInfo{
    padding-top: 20px;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

#contactMeBackgrd{
    background:linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url("../image/contactMe.jpg");
    height: 300px;
    outline: 5px solid black;
    border: 5px solid white;
}

/************ for iPad Screens *************/
@media screen
and (min-width: 300px){
    #homePageImage{
        height: 250px;
        margin-left: -50px;
    }

    #selfDetails1, #selfDetails2, #selfDetails3{
        width: 100%;
        float: left;
    }

    #aboutImg{
        height: 170px;
        justify-content: center;
    }

    #aboutTitle{
        padding: 50px;
    }

    #portrait{
        clear: both;
        float: left;
    }

    #cardContainer{
        justify-content: center;
    }

    #card1, #card2, #card3{
        height: 48%;
        width: 100%;
    }

    #contactMeBackgrd{
        height: 180px;
        padding-top: 5px;
    }
}

/********************************* *********************************/
@media screen
and (min-width: 768px){

    #homePageImage{
        height: 280px;
    }

    #selfDetails1{
        width: 60%;
        float: left;
    }

    #selfDetails2, #selfDetails3{
        width: 100%;
        float: left;
    }

    #aboutImg{
        height: 250px;
        justify-content: center;
    }

    #aboutTitle{
        padding: 100px;
    }

    #portrait{
        clear: both;
        float: right;
        position: relative;
    }

    #cardContainer{
        justify-content: center;
    }

    #card1, #card2, #card3{
        height: 38%;
        width: 40%;
    }

    .dropdown-btn{
        display: none;
    }

    .dropdown-container{
        display: none;
      }

    #contactMeBackgrd{
        height: 220px;
        padding-top: 30px;
    }
}

/********************************* *********************************/
@media screen
and (min-width: 996px){

    #selfDetails1, #selfDetails2, #selfDetails3{
        width: 70%;
        float: left;
    }

    #portrait{
        clear: both;
        float: right;
        position: relative;
    }

    #cardContainer{
        justify-content: center;
    }

    #card1, #card2, #card3{
        height: 38%;
        width: 30%;
    }
}
