nav{
    height: 80px;
    background-color: seagreen
}

.footer{
    height: 80px;
    background-color: seagreen
}

#footer{
    padding-top: 10px;
}

#logo{
    padding-left: 10px;
}

#navList{
    margin-top: 8px;
    margin-right: 20px;
}

#homePageImage{
    height: 450px;
    background-image: url("https://media.giphy.com/media/nbOgewkBDY9MymUsnl/giphy.gif");
}

#indexBody{
    height: 500px;
}

#projectText{
    font-size: 50px;
    font-family: monospace;
}

#card1{
    height: 38%;
    width: 30%;
}

#card2, #card3{
    height: 38%;
    width: 30%;
    float: right;
}
#aboutImg{
    height: 400px;
    background-image: url("../image/about.jpg")
}